streamlit
pandas
numpy
matplotlib
seaborn
scikit-learn
plotly.express
looker_sdk
shap==0.41.0
numpy==1.23.5

streamlit-shadcn-ui
dagshub
aiohttp
aiosignal
alembic
altair
async-timeout
attrs
blinker
cachetools
certifi
charset-normalizer
click
cloudpickle
colorama
contourpy
cycler
databricks-cli
decorator
defusedxml
docker
entrypoints
Flask
fonttools
frozenlist
gitdb
GitPython
greenlet
htbuilder
htmlmin
idna
ImageHash
importlib-metadata
importlib-resources
itsdangerous
Jinja2
joblib
jsonschema
kiwisolver
llvmlite
Mako
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
mlflow
more-itertools
multidict
multimethod
networkx
numba
numpy
oauthlib
openai
packaging
pandas
pandas-profiling
patsy
phik
Pillow
plotly==5.18.0
protobuf
pyarrow
pydantic
pydeck
Pygments
PyJWT
Pympler
pyparsing
pyrsistent
python-dateutil

requests
rich
scipy
semver
shap
six
slicer
smmap
SQLAlchemy
sqlparse
statsmodels
streamlit
streamlit-chat
streamlit-pandas-profiling
streamlit-shap
tableauserverclient
tabulate
wandb


tqdm
typeguard
typing_extensions

urllib3
validators
visions

websocket-client
Werkzeug
yarl
ydata-profiling
zipp

xgboost
